* {box-sizing: border-box;}
body {
  font-family: 'Roboto', sans-serif;
}

.header_container {
  width: 100%;
}
.head_line {
  width: 100%;
  height: 50px;
  background-color: #7E7CF1;
}
.logo {
  width: 80px;
  position: relative;
  top: -35px;
  left: 2%;
}

.main_contents {
  width: 90%;
  margin: 0 auto 50px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}

form select {
  width: 80px;
  height: 30px;
  outline: none;
}

form input {
  height: 30px;
  outline: none;
}

form button {
  background-color: #7E7CF1;
  border: none;
  height: 30px;
  width: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.documents {
  padding: 30px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  background-color: #EFEFEF;
}
.pages {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages button {
  background-color: #7E7CF1;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}
.box {
  padding: 10px;
  display: flex;
  gap: 10px;
  width: 280px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .5s;
}
.box:hover {
  background-color: #fff;
}
.box img {
  border: 3px solid #ddd;
}
.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.desc .title {
  font-weight: bold;
  font-size: 14px;
}
.desc .authors {
  font-size: 14px;
  color: #7E7CF1;
}
.desc .publisher {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
}

.detail_box {
  width: 100%;
  max-width: 800px;
  margin: 50px auto 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 1fr);
  color: #333;
}
.detail_box .img_box {
  padding: 10% 0;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}
.detail_box .img_box img {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.detail_box .info {
  padding: 10%;
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.info .title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.info .more {
  color: #7E7CF1;
  font-weight: bold;
}
.detail_box .contents {
  position: relative;
  text-align: center;
  padding: 50px;
  min-height: 200px;
  grid-column: 1/3;
  grid-row: 2/3;
  color: #333;
  border-top: 2px solid #7E7CF1;
}
.contents .isbn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;

}
footer {
  width: 100%;
  background-color: #F6F6F6;
  text-align: center;
  padding: 20px;
}
.foot_logo {
  width: 50px;
  margin-bottom: 20px;
  opacity: .7;
}
footer p {
  color: #444;
  font-size: 12px;
}

.error {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.error .not {
  font-size: 32px;
  font-weight: bold;
}
.error .number {
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -25px;
  color: #000;
}
.error span {
  display: inline-block;
  transform: rotate(-10deg);
  color: #7E7CF1;
}
.error .button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: 3px solid #7E7CF1;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  margin-top: 50px;
  cursor: pointer;
}
.error .desc {
  color: #666;
}
